@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

body {
    margin: 0;
    padding: 0;
    padding-top: 24px;
    overflow-x: hidden;
    width: 100%;
    background-color: rgb(235, 236, 237);
}

.header {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    padding: 16px 24px;
    height: 56px;
    width: 1135px;
    margin-left: 108px;
    border-radius: 12px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.logo {
    font-family: Inter;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.text_color_blue {
    color: #2D66EE;
}

.header__menu {
    width: 324px;
    height: 18px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.menu__item a {
    color: #101828;
    font-family: SFProText;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.menu__item a:hover {
    color: black;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px solid #2D66EE;
}

.header__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.contacts__phone, .contacts__email {
    display: flex;
    align-items: center;
    gap: 16px;
}

.image__email {
    height: 16px;
    width: 20px
}

.image__phone {
    height: 20px;
    width: 20px
}

.contacts__info {
    font-family: SFProText;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 680px;
    background-color: rgb(235, 236, 237);
}

.main__description {
    width:600px;
    height:220px;
    margin-top: 160px;
    margin-left: 108px;
}

.header__text {
    font-size: 36px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0.3px;
    text-align: left;
    font-family: Inter;
    color: rgba(16, 24, 40, 1);
}


.default__text{
    font-family: SFProText;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: rgba(16, 24, 40, 1);
    margin: 0;
}

.main__feedback {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 676px;
    height: 186px;
    margin-top: 64px;
    margin-bottom: 270px;
    padding: 24px;
    background-color: white;
    margin-left: 108px;
    border-radius: 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
}

.main__container {
    padding: 0;
    height: 1390px;
    overflow: hidden;
    margin-top: -1450px;
    margin-left: 750px;
}

.main__background{
    width: 660px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: rotate(-12deg);
}

.background__image{
    margin-bottom: 20px;
    width: 290px;
    height: auto;
    border-radius: 24px;
}

.main__image {
    width: 310px;
    box-shadow: 0px 0px 96px 0px rgba(0, 0, 0, 0.24),
        0px 0px 2px 0px rgba(0, 0, 0, 0.16);
}

.subheader__text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    color: rgba(16, 24, 40, 1);
    margin: 0;
}

.feedback__form {
    display: flex;
    width: 628px;
    height: 58px;
    opacity: 0;
}

.feedback__field {
    width: 224px;
    height: 54px;
}

.form__label {
    color: rgba(102, 112, 133, 1);
    font-family: SFProText;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;

}

#feedback__phone {
    padding-left: 22px;
    margin-left: -1px;
    width: 175px;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgba(208, 213, 221, 1);
    font-family: SFProText;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4px;
    text-align: left;
    color: rgba(16, 24, 40, 1);
}

#feedback__name {
    width: 200px;
    height: 30px;
    border: none;
    margin-left: -2px;
    padding-left: 2px;
    border-bottom: 1px solid rgba(208, 213, 221, 1);
    font-family: SFProText;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4px;
    text-align: left;
    color: rgba(16, 24, 40, 1);
}

#feedback_image {
    position: absolute;
    margin-top: 6px;
    width: 20px;
    height: 20px;
}

.feedback__button {
    width: 132px;
    height: 58px;
    border: none;
    background-color: #2D66EE;
    padding: 11px 24px;
    color: white;
    text-align: left;
    cursor: pointer;
    border-radius: 8px;
    font-family: SFProText;
    font-size: 14px;
    font-weight: 700;
}

.feedback__button:hover {
    background-color: #0f52ee;
}










.development {
    width: 100%;
    height: 550px;
    background-color: white;
}

.development__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 80px;
    width: 970px;
    height: 450px;
}

.development__technologies {
    margin-left: 108px;
    width: 496px;
    height: 200px;
}

.development .header__text {
    margin-bottom: 32px;
    margin-top: 0;
}

.development .default__text {
    margin-bottom: 34px;
}

.development__tools {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.tool {
    line-height: 1.1px;
}

.tool:after {
    content: " /\00A0";
    color: #2D66EE;
}

.tool:last-child:after {
    content: "";
}

.development__space {
    margin-top: 32px;
}

.development .subheader__text {
    margin-bottom: 23px;
}

.development__categories {
    width:233px;
    height: 200px;
}

.development__arrow {
    margin-left: 10px;
}

.development__list {
    list-style-type: none;
}

.development__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
}

.development__item a {
    color: black;
    text-decoration: none;
}

.development__item a:hover {
    color: black;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid #2D66EE;
}







.projects {
    width:100%;
    height: 420px;
    margin-left: 108px;
}

.project__header {
    width: 467px;
}

.project__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1223px;
    height: 280px;
}

.project__column {
    width: 391px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 391px;
    height: 44px;
}

.project__item p {
    margin-left: 16px;
}








.clients {
    width: 100%;
    height: 792px;
    margin-left: 106px;
    margin-top: 120px;
}

.cleints__header {
    width: 600px;
    height: 130px;
}

.clients__companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 46px;
    width: 1224px;
    height: 58px;
}

.clients__list {
    width: 801px;
    height: 58px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.clients__item {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    height: 58px;
}

.clients__item a {
    color: black;
    font-size: 17px;
    text-decoration: none;
}

.clients__item a:hover {
    color: black;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid #2D66EE;
}

.clients__button {
    width: 207px;
    height: 40px;
    border: none;
    background-color: rgba(45, 102, 238, 1);
    padding: 11px 24px;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.clients__button:hover {
    background-color: #0f52ee;
}






.clents__iteka {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 20px;
    width: 1224px;
    height: 449px;
}

.iteka__description {
    width: 600px;
    height: 449px;
}

.iteka__header {
    margin: 0;
}

.iteka__underheader {
    width: 600px;
    height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.iteka__underdescription {
    width:600px;
    height: 60px;
}

.iteka__list {
    width: 496px;
    height: 22px;
}

.iteka__image {
    margin-top: 29px;
    width: 600px;
    height: 449px;
}

.iteka__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 239px;
    height: 24px;
}

.iteka__users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 252px;
    height: 59px;
}

.iteka__stores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 40px;
}

.iteka__category {
    width: 112px;
    height: 24px;
    display: flex;
    align-items: center;
}

.iteka__text {
    margin-left: 8px;
}

.users__growth {
    width: 79px;
    height: 59px;
}

.users__active {
    width: 129px;
    height: 59px;
}





.text_color_white {
    color: white;
}

.contact {
    width: 100%;
    height: 350px;
    background-color: rgba(45, 102, 238, 1);
    padding-top: 44px;
    padding-bottom: 80px;
}

.contact__block {
    width: 1224px;
    height: 190px;
    margin-left: 108px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 600px;
    height: 220px;
}

.contact__feedback {
    width: 648px;
    height: 190px;
    background-color: white;
    border-radius: 12px;
    padding: 24px;
    margin-top: 36px;
}

.fields {
    width: 552px;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#feedback__image {
    position: absolute;
    margin-top: 32px;
    margin-left: -120px;
}

#contact__phone {
    padding-left: 20px;
    width: 244px;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgba(208, 213, 221, 1);
    font-family: SFProText;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4px;
    text-align: left;
    color: rgba(16, 24, 40, 1);
}

#contact__name {
    width: 244px;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgba(208, 213, 221, 1);
    font-family: SFProText;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4px;
    text-align: left;
    color: rgba(16, 24, 40, 1);
}

.contact__button {
    margin-left: 400px;
    margin-top: 20px;
    width: 178px;
    height: 40px;
    border: none;
    background-color: rgba(45, 102, 238, 1);
    padding: 11px 24px;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.contact__button:hover {
    background-color: #0f52ee;
}






.development__stages {
    width: 100%;
    height: 890px;
    background-color: white;
    padding-top: 60px;
}

.development__stages__text{
    width:600px;
    margin-left: 108px;
    padding-top: 10px;
}

.item__blocks {
    margin-left: 108px;
    display: flex;
    justify-content: space-between;
    width: 1224px;
    height: 564px;
}

.stage__header {
    margin-left: 24px;
    font-size: 20px;
    font-weight: 600;
}

.stage__item__header {
    width: 200px;
    height: 48px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
}

.stage__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 392px;
    height: 192px;
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08),
                 0px 0px 24px rgba(0, 0, 0, 0.16);
}

.item__column {
    width: 392px;
    height: 624px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





.company__about {
    padding-top: 80px;
    padding-bottom: 80px;
    width:100%;
    height: 581px;
}

.company__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1224px;
    height: 500px;
    margin-left: 108px;
}

.company__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 600px;
    height: 341px;
}

.company__stats {
    width: 584px;
    height: 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:184px;
    height: 113px;
}

.stats .header__text, .stats .form__label {
    margin: 0;
}

.company__video {
    margin-top: 36px;
}

.video__button {
    position: absolute;
    margin-top: 166px;
    margin-left: -331.5px;
}







.book__advert {
    width: 100%;
    height: 588px;
    background-color: rgba(45, 102, 238, 1);
}

.book__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1225px;
    margin-left: 108px;
}

.book__info {
    width: 600px;
    height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.book__advert__text{
    width: 600px;
}

.book__advert__text .header__text {
    margin: 0;
}

.book__form {
    width: 600px;
    height: 284px;
    background-color: white;
    padding: 24px;
    float: left;
    border-radius: 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08),
                 0px 0px 24px rgba(0, 0, 0, 0.16);
}

.book__fields {
    width: 552px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book__field {
    width:552px;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book__phone__field {
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.book__name__field {
    height: 56px;
    display: flex;
    align-items: flex-end;
}

#book__phone {
    padding-left: 22px;
    width: 264px;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgba(208, 213, 221, 1);
    font-family: SFProText;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4px;
    text-align: left;
    color: rgba(16, 24, 40, 1);
}

#book__name {
    width: 264px;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgba(208, 213, 221, 1);
    font-family: SFProText;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4px;
    text-align: left;
    color: rgba(16, 24, 40, 1);
}

#book__email{
    width: 552px;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgba(208, 213, 221, 1);
    font-family: SFProText;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4px;
    text-align: left;
    color: rgba(16, 24, 40, 1);
}

#book__image {
    position: absolute;
    margin-top: 28px;
}

.book__button {
    margin-left: 330px;
    width: 225px;
    height: 40px;
    float: right;
    border-radius: 8px;
    background-color: #2D66EE;
    border: none;
    cursor: pointer;
    color: white;
}

.book__button:hover {
    background-color: #0f52ee;
}

.book__image {
    margin-top: 36px;
}





.faq {
    width:100%;
    height: 750px;
    background-color: white;
}

.faq__text .header__text {
    margin: 0;
}

.faq__container {
    padding-top: 54px;
    margin-left: 108px;
    width: 1225px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.faq__questions {
    width: 1224px;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question {
    width: 600px;
    height: 104px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.5px solid rgba(208, 213, 221, 1);
}

.question__column {
    width: 600px;
    height: 232px;
}

.border__bottom {
    border-bottom: 0.5px solid rgba(208, 213, 221, 1);
}







.footer {
    width: 1224px;
    height: 222px;
    margin-left: 108px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    background-color: #101828;
    padding: 24px;
    border-radius: 12px;
}

.footer__logo {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
}

.footer__main {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 1176px;
    height: 54px;
}

.footer__item__header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon__grayscale {
    filter: grayscale(90%) brightness(160%);
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    float: left;
    width:294px;
    height:34px;
    gap: 8px;
}

.footer__text {
    font-family: SFProText;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(152, 162, 179, 1);

}

.footer__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footer__bottom p{
    font-family: SFProText;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}